/*-- index styles --*/
	/*@font-face {font-family: Calibri; src: url('../fonts/Calibri.ttf');}*/
	body, div, header, footer, section, nav, ul, ol {margin: 0; padding: 0;}
	html {height: 100%;}
	body {font: 18px Calibri, Arial, sans-serif; color: #111; height: 100%;}
	fieldset{border: 0;}
	h1,h2,h3,h4,h5,h6{font-family: Candara, Calibri, sans-serif; color: #0c1638; line-height: 1.0em; padding-bottom: 10px; margin: 0; cursor: default; text-align: left;}
	h1{font-size: 56px;}
	h2{font-size: 48px;}
	h3{font-size: 36px;}
	h4{font-size: 28px;}
	h5{font-size: 18px;}
	h6{font-size: 14px;}
	p{padding: 5px 0; text-align: justify;}
	img {border:3px solid #333; border-radius: 5px; max-width: 900px;}
	a:link, a:visited {color:#6846DD; text-decoration: underline; padding:0px;}
	a:hover, a:active {color:#9B46DD; text-decoration: none; padding:0px;}
	.clear {clear:both;} 
	.hide {display: none;}
	.transparent{color: rgba(0,0,0,0);}
	.no_display{display: none !important;}
	.display{display: block !important;}
	.errors{color: red;}
	.access{color: green;} /*alerts*/
	.valign{display:inline-block; height: 100%; width: 0px; vertical-align: middle;}
	*::selection {color: #fff; background: rgba(0,144,54,0.6);}
	*::-moz-selection {color: #fff; background: rgba(0,144,54,0.6);}
/*-- index styles --*/

/*--- in-e ---*/
	body {background: #333; text-align: center;}
	#header, #nav, #content, #footer{width: 960px; margin: 0 auto;}
/*--- in-e ---*/

/*--- top blocks ---*/
	#header{height: 80px; background: url(../img/logo.png) no-repeat 5px 3px #79C066;}
	#languages{position: relative; top: 10px; right: 20px; text-align: right; color: #345784;}
	#languages a{text-decoration: none; border-bottom: 1px solid #345784; padding-bottom: 1px; color: #345784;}

	/*---- menu begin ----*/
		#nav{background: #63b04e; text-align: left; padding-bottom: 5px;}
		#menu li{display:inline; padding: 6px 12px; font-size: 24px; text-transform: lowercase; font-variant: small-caps;}
		#menu li a{color: #f5f5f5; white-space:nowrap;}
		#menu li a:hover{text-decoration:underline; color:#ddd;}
	/*---- menu end ----*/
/*--- top blocks ---*/


/*--- content ---*/
	#content{background: #f9f9f9; padding: 10px; width: 940px;}

/*--- footer ---*/
	#footer {background: #79C066; height: 50px; position: relative; text-align: center; padding: 10px 0; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.2);}
	#footer a{color: #eee;}

/*--- log in form ---*/
	#login_form{background: #345784; position: fixed; bottom: 10px; right: 10px; z-index: 5; border:3px solid #222; padding: 10px; display:none;}
	#login_alert{background: none; position: fixed; bottom: 10px; right: 10px; z-index: 4; display: block; border-bottom: 1px solid #345784; color: #345784; cursor: pointer; font-weight: bold;}
	#login_alert:hover {border-bottom: 1px solid rgba(0,0,0,0);}
	.log_button{float:left;}
	.enter_label{color:#fff !important; font-size: 20px; padding: 0 0 10px; margin: 0;}
	.exit_span{text-decoration: underline; color: #345784; cursor: pointer;}
	#else_enter {float:right; text-align:right;}
	#else_enter a{color:#fff;}
	#user_plus{background: none; position: fixed; bottom: 10px; right: 10px; z-index: 4; display: block;}
	.login_close{position: absolute; right: 10px; bottom: 120px; color: #fff; cursor: pointer; font-weight: bold;}
/*--- log in form ---*/

/*--- forms ---*/
	/*---- buttons ----*/
		.button, .log_button{border: none; background: #4484F0; color: #fff; font-size: 16px; padding: 6px 20px 8px 20px; cursor:pointer;} 

	/*---- text inputs ----*/
		.fields{width: 200px; font-size: 14px; padding: 3px; margin: 0 0 5px;} 

	/*---- system headers ----*/
		.title {font-size: 24px; padding-bottom: 15px; color: #345771; font-weight: 600; font-family: Helvetica, Arial, sans-serif !important;}
/*--- forms ---*/