/*@font-face {font-family: Calibri; src: url('../fonts/Calibri.ttf');}*/
* {margin: 0; padding: 0;}
html {height: 100%;}
body {font: 18px Calibri, Arial, sans-serif; color: #111; height: 100%;}
fieldset{border: 0;}
#debug{display:none;} /*div#debug for JsHttpRequest*/
h1,h2,h3,h4,h5,h6,h7{font-family: Candara, Calibri, sans-serif; color: #0c1638; line-height: 1.0em; padding-bottom:10px; cursor: default; text-align: left;}
h1{font-size: 56px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 28px;}
h5{font-size: 20px;}
h6{font-size: 16px;}
h7{font-size: 12px;}
p{padding: 5px 0 5px 0; text-align: justify;}
img {border:3px solid #333; border-radius: 5px; max-width: 900px;}
a:link, a:visited {color:#6846DD; text-decoration: underline; padding:0px;}
a:hover, a:active {color:#9B46DD; text-decoration: none; padding:0px;}
.clear {clear:both;} 
.hide {display: none;}
.transparent{color: rgba(0,0,0,0);}
.no_display{display: none !important;}
.display{display: block !important;}
.errors{color: red;}
.access{color: green;} /*alerts*/
.valign{display:inline-block; height: 100%; width: 0px; vertical-align: middle;}
*::selection {color: #fff; background: rgba(0,144,54,0.6);}
*::-moz-selection {color: #fff; background: rgba(0,144,54,0.6);}